body {
  font-family: "PT Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin-bottom: 5px;
}
.message {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #b1bfd7;
  margin-left: 10px;
  padding: 5px;
}
.header {
  width: 100%;
  background-color: #03436a;
}
.header_inner {
  padding: 5px;
}
.header_logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding-left: 3px;
}
.btn-primary {
  background-color: #245a7a;
  border-color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}
.btn.btn-primary:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s linear, color 0.2s linear;
}
.user_online {
  border: 2px solid #03436a;
  border-top: none;
  height: 80vh;
  border-bottom-left-radius: 10px;
}
.intro_inner {
  overflow: auto;
}
.chat {
  padding: 0;
  height: 80vh;
}
.chat_inner {
  border: 2px solid #03436a;
  border-top: none;
  border-bottom-right-radius: 10px;
  height: 65vh;
  overflow: auto;
}
.your_login,
.login {
  align-items: center;
  margin-top: 15px;
}
.chat_login {
  margin-top: 15px;
}
.avatar {
  position: relative;
}
.avatar_chat,
.avatar {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}
img {
  width: 100%;
}
.user_name {
  padding-left: 15px;
}
.avatar:after {
  content: "";
  display: block;
  position: absolute;
  left: 45px;
  bottom: -5px;
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid #fff;
}
.user_online_header {
  text-align: center;
}
.icons {
  max-width: 50px;
  padding: 5px;
}
.search {
  margin-top: 10px;
  outline: none;
}
.search_area {
  width: 100%;
  border: none;
  border-bottom: 1px solid #03436a;
  outline: none;
}

.search_button {
  border: none;
  border-bottom: 1px solid #03436a;
  background: none;
  color: #03436a;

  /* outline: none; */
}
.search_button:active,
.search_button:focus {
  outline: none;
}

.form_sms {
  padding: 5px 5px 0 5px;
  height: 15vh;
  margin-bottom: 0;
}
textarea.form-control {
  flex-grow: 1;
}
textarea {
  resize: none;
}

.control:active,
.control:focus {
  outline: none;
  box-shadow: none;
}

.btn_send {
  width: 100%;
  margin-top: 2px;
  padding: 0;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}
